
<!-- templates/dashboard/dashboard.html -->
{% extends 'base.html' %} 
{% load static %}
{% block content %}
<div style="
    background-color: rgba(231, 209, 168, 0.8);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1), 0 0 100px rgba(0, 0, 0, 0.2);
    text-align: center;
">
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissable fade show" role="alert" style="
      background-color: rgba(252, 240, 193, 0.8);
      color: #333;
      padding: 8px;
      margin-bottom: 8px;
      border: 1px solid #ddd;
      border-radius: 5px;
  ">
    <strong>Message:</strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}

  <!-- Sample Card -->
  <div class="card" style="
      width: 23rem;
      height: 25rem;
      margin-top: 20px;
      float: left;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      background-color: #fff9e1;
      border-radius: 20px;
  ">
    <div class="card-body"  style="margin: 20px;">
      <h3 class="card-title"><a href="{% url 'tasks' %}" class="to-do-link" style="text-decoration: none; color: #00060c;">To Do List</a></h3>

      <table style="width:100%;">
          <tr>
              <th style="text-align: left;">Subjects</th>
              <th style="text-align: left;">Items</th>
              <th style="text-align: left;">Deadline</th>
          </tr>
          {% for task in tasks %}
          <tr>
              <td style="text-align: left; word-wrap: break-word;">{{ task.Subject_Code }}</td>
              <td style="text-align: left; word-wrap: break-word;">{{ task.task }}</td>
              <td style="text-align: left; word-wrap: break-word;">{{ task.deadline|date:"m/d/y" }}</td>
          </tr>
          {% empty %}
          <tr>
              <td colspan="4" style="text-align: left;">No items in list</td>
          </tr>
          {% endfor %}
      </table>
    </div>
  
  </div>
  

  <!-- Your dashboard content goes here -->
  <div style="
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
  ">
    <div style="
        background-color: rgba(231, 209, 168, 0.8);
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.1), 0 0 100px rgba(0, 0, 0, 0.2);
        text-align: center;
    ">
    </div>
  </div>
</div>
{% endblock %}
