
<!-- templates/dashboard/dashboard.html -->
{% extends 'base.html' %} 
{% load static %}
{% block content %}
<div style="
    background-color: rgba(231, 209, 168, 0.8);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1), 0 0 100px rgba(0, 0, 0, 0.2);
    text-align: center;
">
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissable fade show" role="alert" style="
      background-color: rgba(252, 240, 193, 0.8);
      color: #333;
      padding: 8px;
      margin-bottom: 8px;
      border: 1px solid #ddd;
      border-radius: 5px;
  ">
    <strong>Message:</strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}

  <!-- Sample Card -->
  <div class="card" style="
      width: 18rem;
      height: 20rem;
      margin-top: 20px;
      float: left;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      background-color: #fff9e1;
      border-radius: 20px;
  ">
    <div class="card-body">
      <h5 class="card-title">Sample Subject</h5>
      <table>
        <tr>
            <th>Items</th>
            <th></th>
            <th></th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{ task.task }}</td>
            <td><a href="{% url 'task' task.id %}">View</a></td>
        </tr>
        {% empty %}
        <h3>No items in list</h3>
        {% endfor %}
    </table>
      <a href="#" class="btn btn-primary">Learn More</a>
    </div>
  </div>

  <!-- Your dashboard content goes here -->
  <div style="
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
  ">
    <div style="
        background-color: rgba(231, 209, 168, 0.8);
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.1), 0 0 100px rgba(0, 0, 0, 0.2);
        text-align: center;
    ">
      <!-- User image -->
      <img src="{% static 'user.png' %}" alt="User Image">
      <!-- Display the first name here -->
      <button
type="changepass"
name="changepass_button"
style="
background-color: #fff394;
border: 1px solid #fdffc9;
color: #000000; 
padding: 5px;
cursor: pointer;
border-radius: 5px;
box-shadow: 0 0 30px rgba(255, 255, 255, 0.8);">
<a href="{% url 'ChangePassword' %}" style="text-decoration: none; color: #000000;">Change Password</a> 
      <p>Welcome, {{ username }}</p>
    </div>
  </div>
</div>
{% endblock %}