<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Authentication</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Jua&display=swap"
    />
  </head>
  <body
    style="
      background-color: #fcf0c1;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      font-family: 'Jua', sans-serif;
    "
  >
    <div
      style="
        background-color: rgba(231, 209, 168, 0.8);
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.2);
        text-align: center;
      "
    >
      {% for message in messages %}
      <div
        class="alert alert-{{ message.tags }} alert-dismissable fade show"
        role="alert"
        style="
          background-color: rgba(252, 240, 193, 0.8);
          color: #333;
          padding: 8px;
          margin-bottom: 8px;
          border: 1px solid #ddd;
          border-radius: 5px;
        "
      >
        <strong>Message:</strong> {{ message }}
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}

      <h3 style="color: #333">Welcome to StudentHub</h3>

      {% if user.is_authenticated %}
      <h3>Hello {{ fname }}</h3>
      <h4>You're successfully logged in.</h4>
      <button
        type="submit"
        style="
          background-color: #007bff;
          color: #fff;
          padding: 8px;
          border: none;
          cursor: pointer;
          border-radius: 5px;
          box-shadow: 0 0 30px rgba(255, 255, 255, 0.8);
        "
      >
        <a href="/signout" style="text-decoration: none; color: #fff"
          >Signout</a
        >
      </button>

      {% else %}

      <button
        type="submit"
        style="
          background-color: #007bff;
          color: #fff;
          padding: 8px;
          border: none;
          cursor: pointer;
          border-radius: 5px;
          box-shadow: 0 0 30px rgba(255, 255, 255, 0.8);
        "
      >
        <a href="/signup" style="text-decoration: none; color: #fff">Signup</a>
      </button>
      <button
        type="submit"
        style="
          background-color: #007bff;
          color: #fff;
          padding: 8px;
          border: none;
          cursor: pointer;
          border-radius: 5px;
          box-shadow: 0 0 30px rgba(255, 255, 255, 0.8);
        "
      >
        <a href="/signin" style="text-decoration: none; color: #fff">Signin</a>
      </button>
      <button
        type="submit"
        style="
          background-color: #007bff;
          color: #fff;
          padding: 8px;
          border: none;
          cursor: pointer;
          border-radius: 5px;
          box-shadow: 0 0 30px rgba(255, 255, 255, 0.8);
        "
      >
        <a href="/signout" style="text-decoration: none; color: #fff"
          >Signout</a
        >
      </button>

      {% else %}

      <button
        type="submit"
        style="
          background-color: #007bff;
          color: #fff;
          padding: 8px;
          border: none;
          cursor: pointer;
          border-radius: 5px;
          box-shadow: 0 0 30px rgba(255, 255, 255, 0.8);
        "
      >
        <a href="/signup" style="text-decoration: none; color: #fff">Signup</a>
      </button>
      <button
        type="submit"
        style="
          background-color: #007bff;
          color: #fff;
          padding: 8px;
          border: none;
          cursor: pointer;
          border-radius: 5px;
          box-shadow: 0 0 30px rgba(255, 255, 255, 0.8);
        "
      >
        <a href="/signin" style="text-decoration: none; color: #fff">Signin</a>
      </button>
      {% endif %}

      <script src="" async defer></script>
    </div>
  </body>
</html>
\\test
