<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Reset Password</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Jua&display=swap"
    />
  </head>

<body
    style="
    background-color: #fcf0c1;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Jua', sans-serif;
    "
  >
<div
    style="
    background-color: rgba(231, 209, 168, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1), 0 0 100px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 70%;
    "
  >
  

<h2> PASSWORD RESET SENT </h2>
 <p
  style="
  text-align:center;
  ">We have sent you instructions via email on how to set your password. If there is an account associated with the email you provided, you should expect to receive these instructions shortly. </p>
  <button
  type="submit"
  name="resetpass_button"
  style="
    background-color: #007bff;
    color: #fff;
    padding: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.8);
  "
>
<a href="/signin" style="text-decoration: none; color: #fff">Sign In</a>
</button>
</body>