<!-- templates/base.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Your Site Title{% endblock %}</title>
    <!-- Add your common CSS stylesheets or links here -->
  </head>
  <body>
    <!-- Common navigation bar -->
    {% include 'components/navbar.html' with username=username pk=pk %}

    <!-- Content block for child templates -->
    <div class="content">
      {% block content %}{% endblock %}

      <!-- Display enrolled subjects -->
      {% if enrolled_subjects %}
      <div>
        <strong>Enrolled Subjects:</strong>
        <ul>
          {% for subject in enrolled_subjects %}
          <li>{{ subject }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>

    <!-- Add your common JavaScript files or links here -->
  </body>
</html>
